@import url("https://fonts.googleapis.com/css?family=Tangerine");

#root {
  height: 100vh;
}

body {
  min-height: 100%;
  width: 100%;
  background: linear-gradient(
    45deg,
    #f17c58,
    #e94584,
    #24aadb,
    #27dbb1,
    #ffdc18,
    #ff3706
  );
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
  font-family: "Tangerine", serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
